<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-atom-date/cells-atom-date.html">

<dom-module id="nuevo-registro">
  <template>
    <cells-component-app-header text="Registro de usuarios">
    </cells-component-app-header><br>
      <span slot="heading" class="heading">
        <iron-icon icon="coronita:return-12" on-click="regresa" style="cursor:pointer;"></iron-icon></span>
    </cells-atom-subheader><br>
    <style include="cells-basic-login-styles cells-basic-login-shared-styles"></style>
    <div class="form">
    <form id="form" method="post">
      <cells-molecule-input id="nombre"
        name="nombre"
        label="Nombre"
        type="text"
        value="{{nombre}}"
        max-length="30"
        required></cells-molecule-input>
        <cells-molecule-input id="apellido"
          name="apellido"
          label="Apellido"
          type="text"
          value="{{apellido}}"
          max-length="10"
          required></cells-molecule-input>
      <cells-molecule-input id="usuario"
        name="usuario"
        label="Usuario"
        type="text"
        value="{{usuario}}"
        max-length="10"
        required
        ></cells-molecule-input>
        <cells-molecule-input id="contrasena"
          name="contrasena"
          label="Contraseña"
          type="password"
          value="{{contrasena}}"
          max-length="10"
          required
          ></cells-molecule-input>
          <cells-molecule-input id="contrasena2"
            name="contrasena2"
            label="Confrimar contraseña"
            type="password"
            value="{{contrasena2}}"
            max-length="10"
            required
            ></cells-molecule-input>
      <cells-st-button class="secondary">
        <button class="btn--primary btn--m btn--full btn-login"
          on-click="registrar">Aceptar</button>
      </cells-st-button>
    </form>
  </div>
 </template>
  <script src="nuevo-registro.js"></script>
</dom-module>
