<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
       <div  class="row">
         <img src="https://image.flaticon.com/icons/svg/265/265662.svg" class="col-lg-8 col-xs-12">
       </div>
       <div  class="row">
         <button type="button" name="button" class="btn btn-info col-lg-4 col-xs-8" on-click="incrementar">Click</button>
       </div>
       <div class="row">
         <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
       </div>
       <div  class="row">
         <table>
           <thead>
             <th>ID</th>
             <th>Nombre</th>
             <th>Apellido</th>
           </thead>
           <tbody>
             <tr>
               <td>[[prop2]]</td>
               <td>[[prop1]]</td>
               <td>Perea</td>
             </tr>
             <tr>
               <td>2</td>
               <td>Juan</td>
               <td>Hernandez</td>
             </tr>
             <tr>
               <td>3</td>
               <td>Maria</td>
               <td>Lopez</td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisorApp extends Polymer.Element {
      static get is() { return 'mi-visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type: Number,
            value: 999
          },
          prop3:{
            type: String,
            value: 'Indique su login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(prop1);
        console.log(prop2);
      }
    }

    window.customElements.define(MiVisorApp.is, MiVisorApp);
  </script>
</dom-module>
