<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<dom-module id="login-form" on-load="onload">
  <template>
    <cells-component-app-header text="Acceder a consulta de movimientos"></cells-component-app-header><br>
    <style include="cells-basic-login-styles cells-basic-login-shared-styles"></style>
    <div class="form">
      <form id="form" method="post">
        <cells-molecule-input id="user" class="input--base"
          name="user"
          label="Usuario"
          type="text"
          value="{{username}}"
          text-field-icon="coronita:GM05"
          with-icon
          required
          ></cells-molecule-input>
        <cells-molecule-input id="password"
          name="password"
          label="Password"
          type="password"
          value="{{password}}"
          with-icon
          required></cells-molecule-input>
        <template is="dom-if" if={{!isOK}}>
          <div class="label">Datos no verificados</div>
        </template>
        <cells-st-button class="full">
          <button class="btn--primary btn--m btn--full btn-login"
            on-click="acceder">Entrar</button>
        </cells-st-button>
      </form>
      <a id="Registro" on-click="registrar" class="link forgot-pwd">Registrarse</a>
    </div>
  </template>
  <script src="login-form.js"></script>
</dom-module>
