<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../../bower_components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../bower_components/cells-navigation-bar/cells-navigation-bar.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<link rel="import" href="../../bower_components/cells-button-toolbar/cells-button-toolbar.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">

<dom-module id="detalle-movimientos">
  <template>
    <cells-component-app-header text="Consulta de movimientos">
    </cells-component-app-header><br>
    <cells-atom-subheader heading-level="0">
      <iron-icon icon="cells:G08" on-click="salir" style="cursor:pointer;"></iron-icon>
      <span slot="heading" class="heading">
        <iron-icon icon="coronita:return-12" on-click="regresa" style="cursor:pointer;"></iron-icon> Cuenta: {{aliasCta}}</span>
    </cells-atom-subheader><br>
    <template is="dom-repeat" items="{{aCtas}}">
      <cells-movements-list-item
      date="{{item.date}}"
      label="{{item.label}}"
      description="{{item.description}}"
      category="{{item.category}}"
      category-description="{{item.categoryDescription}}"
      parsed-amount="{{item.parsedAmount}}">
      </cells-movements-list-item>
    </template>
    <cells-st-button class="secondary" content-right>
      <button class="btn--secondary btn--m btn-outline-secondary"
        on-click="crearMovimiento">Transferir</button>
    </cells-st-button>
 </template>
  <script src="detalle-movimientos.js"></script>
</dom-module>
