<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../posicion-global/posicion-global.html">
<dom-module id="app-techu">
  <template>
    <login-form></login-form>
    <template is="dom-if" if={{!checkCtas}}>
      <posicion-global></posicion-global>
    </template>
  </template>
  <script src="app-techu.js"></script>
</dom-module>
