<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-product-item/cells-product-item.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<dom-module id="posicion-global">
  <template>
    <cells-component-app-header>
      <span slot="title">
           Bienvenido {{nombreCliente}}
      </span>
    </cells-component-app-header><br>
    <cells-atom-subheader>
      <iron-icon icon="cells:G08" on-click="salir" style="cursor:pointer;"></iron-icon>
      <span slot="heading" class="heading"> Posición Global</span>
    </cells-atom-subheader>
    <template is="dom-repeat" items="{{aCtas}}">
          <cells-product-item
          name="{{item.nombre}}"
          img-src="https://image.flaticon.com/icons/svg/138/138289.svg"
          description="{{item.descripcion}}"
          primary-amount="{{item.detalle}}" on-click="consultaDetalle" style="cursor:pointer;"
          >
   </template>
 </template>
  <script src="posicion-global.js"></script>
</dom-module>
