<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../bower_components/cells-icons/cells-icons.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login-styles.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../bower_components/cells-atom-date/cells-atom-date.html">

<dom-module id="alta-movimientos">
  <template>
    <cells-component-app-header text="Alta de movimientos">
    </cells-component-app-header><br>
    <cells-atom-subheader heading-level="0">
      <iron-icon icon="cells:G08" on-click="salir" style="cursor:pointer;"></iron-icon>
      <span slot="heading" class="heading">
        <iron-icon icon="coronita:return-12" on-click="regresa" style="cursor:pointer;"></iron-icon> Cuenta cargo: {{aliasCta}}</span>
    </cells-atom-subheader><br>
    <style include="cells-basic-login-styles cells-basic-login-shared-styles"></style>
    <div class="form">
    <form id="form" method="post">
      <cells-molecule-input id="descripcion"
        name="descripcion"
        label="Descripcion"
        type="text"
        value="{{descripcion}}"
        max-length="30"
        required></cells-molecule-input>
        <cells-molecule-input id="ctadest"
          name="cuentadestino"
          label="Cuenta destino"
          value="{{cuentadestino}}"
          type="text"
          value="{{importe}}"
          allowed-chars="[0-9]"
          max-length="10"
          required></cells-molecule-input>
      <cells-molecule-input id="importe"
        name="importe"
        label="Importe"
        type="text"
        value="{{importe}}"
        allowed-chars="[0-9.]"
        max-length="10"
        prevent-invalid-input
        required
        ></cells-molecule-input>
        <cells-molecule-input id="fechaopera"
          name="fechaopera"
          label="Fecha de operacion"
          type="text"
          value="{{fechaopera}}"
          disabled
          required
          ></cells-molecule-input>
      <cells-st-button class="secondary">
        <button class="btn--primary btn--m btn--full btn-login"
          on-click="transferir">Aceptar</button>
      </cells-st-button>
    </form>
  </div>
 </template>
  <script src="alta-movimientos.js"></script>
</dom-module>
